body {
	line-height: 1;
  -webkit-text-stroke-width: 0.04em;
  width: 100%;
  background: url('img.jpg') center center no-repeat;
  color: #abcdef;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
  
  font-family: sans-serif;
}

ol, ul {
	list-style  :         none      ;   
}
